.h1 {
    text-align: center;
    animation-name: Udo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.div {
    background-color: grey;
    padding: 1.5em;
    border-radius: 0.5em;
}

@keyframes Udo{
    0% {color: grey;}
    50% {color: white;}
    100% {color: black;}
}